<!-- Google Analytics -->
<script>
    window.ga = window.ga || function() {
        (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;
    ga('create', 'UA-144032123-1', 'auto');
    ga('send', 'pageview');

</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="author" content="Louise Findlay">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%- description %>">
<meta name="keywords" content="<%- keywords %>">

<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&display=swap" />
<script src="https://kit.fontawesome.com/31281bad38.js" crossorigin="anonymous"></script>

<!-- Social Media Meta Tags -->
<meta property="og:title" content="<%- title %>">
<meta property="og:description" content="<%- short_description %>">
<meta property="og:image" content="https://louisefindlay.com/img/<%- hero_image %>">
<meta property="og:url" content="<%- page.url %>">
<meta name="twitter:card" content="summary_large_image">

<!-- CSS Stylesheets -->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">

<title><%- title %></title>
