---
layout: _base-layout.ejs
---
<!-- Testimonial Section -->
<section class="project testimonial" style="display: block">
    <div class="flexcontainer">
        <!-- Left Arrow -->
        <div class="arrow flex-item">
            <i class="slide2 fas fa-chevron-left hidden"></i>
        </div>
        <!-- Testimonials -->
        <div id="test1" class="test-content flex-item" style="display: block">
            <picture>
                <%- test_image1 %>
            </picture>
        </div>
        <div id="test2" class="test-content flex-item">
            <picture>
                <%- test_image2 %>
            </picture>
        </div>
        <div id="test3" class="test-content flex-item">
            <picture>
                <%- test_image3 %>
            </picture>
        </div>
        <!-- Right Arrow -->
        <div class="arrow flex-item">
            <i class="slide2 fas fa-chevron-right"></i>
        </div>
    </div>
    <!-- Dots -->
    <div class="flexcontainer">
        <div class="dots flexcontainer">
            <i id="slide1" class="orange fas fa-circle"></i>
            <i id="slide2" class=" fas fa-circle"></i>
            <i id="slide3" class=" fas fa-circle"></i>
        </div>
    </div>
</section>

<!-- Project -->
<section id="project">
    <div class="skewed skewed-left"></div>
    <div class="flexcontainer no-bottom">
        <div class="flex-item">
            <h3><%- project_heading1 %></h3>
        </div>
        <div id="column" class="flex-item">
            <h3><%- project_heading2 %></h3>
        </div>
    </div>
    <div class="flexcontainer no-top">
        <div class="flex-item">
            <p><%- project_description %></p>
        </div>
        <div id="single" class="flex-item">
            <h3><%- project_heading2 %></h3>
        </div>
        <div class="flex-item">
            <div class="flexcontainer">
                <i class="<%- project_icon1 %>"></i>
                <i class="<%- project_icon2 %>"></i>
                <%- project_icon3 %>
            </div>
        </div>
    </div>
</section>

<!-- Details -->
        <section id="project-details" class="left">
            <div class="flexcontainer">
                <div class="flex-item">
                    <h3><%- project_subheading1 %></h3>
                    <div class="flexcontainer">
                        <a href="<%- project_link1 %>" target="_blank">
                            <i class="<%- project_subicon1 %>"></i>
                        </a>
                    </div>
                </div>

                <div class="flex-item">
                    <h3><%- project_subheading2 %></h3>
                    <div class="flexcontainer">
                        <a href="<%- project_link2 %>" target="_blank">
                            <i class="<%- project_subicon2 %>"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
<script src="/js/testimonial.js"></script>
<script>
// Lightbox
var pictures = document.querySelectorAll('picture');
    pictures.forEach(function (pic) {
        pic.addEventListener('click', function (e) {
            this.classList.toggle('lightbox');
            document.querySelectorAll('.skewed').forEach(function (skew) {
                skew.classList.toggle("skewed");
            });
        });
    });
</script>
